<!--  Not view message -->
<div class="contact__item-main">

  <div class="contact__item-main">
    <img class="contact__item-image" src="{{imageSrc}}" alt="{{imageAlt}}"/>

    <div class="contact__item-name">
      Seu nome
      <div class="contact__item-View">
        <img class="contact__item-imageView" src="{{imageView}}" alt="{{imageAltView}}">
        <p class="contact__item-message">New message</p>
      </div>
    </div>
  </div>
  <div class="contact__item-hours">
    21:57
  </div>

</div>
