/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Segoe UI';
}

.background-image {
  background-image: url(https://fpdl.in/uploads/20231002043153_[fpdl.in]_icone-3d-do-botao-circular-do-whatsapp-com-espaco-de-copia_1379-5078_large.jpg);
  background-position: center;
  background-size: cover;
}
