
<div class="side__bar-main">
  <app-nav-bar></app-nav-bar>
  <div (click)="toggleComponent()">
    <app-contact-item
      [imageSrc]="'assets/image-profile/avatar.png'"
      [imageAlt]="'Profile'"
      [name]="'John'"
      [imageView]="'assets/image-chat/double-checkk.png'"
      [imageAltView]="'Image View'"
      [message]="'Message'"
      [time]="'21:57'">
    </app-contact-item>
    <app-contact-item-view
      [imageSrc]="'assets/image-profile/avatar.png'"
      [imageAlt]="'Profile'"
      [name]="'Andrew'"
      [imageView]="'assets/image-chat/double-checkk.png'"
      [imageAltView]="'Image View'"
      [message]="'Message'"
      [time]="'19:42'">
    </app-contact-item-view>
  </div>

  <div *ngIf="showConversation">
    <app-chat-screen></app-chat-screen>
  </div>

</div>

