.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #222C32;
  width: 432px;
  height: 69px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 0 0 0;
}

.nav__bar-perfil > img {
  width: 40px;
  height: 40px;
  margin: 9px 16px;
  border-radius: 88px;
}

.nav__bar-text {
  margin-top: -4px;
  color: #ffffff;
}
