.contact__item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 5px;
  padding: 5px;
}

.contact__item-image {
  margin: 9px 16px;
}

.contact__item-imageView {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__item-name {
  margin-top: 9px;
  color: #EAEDEF;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.contact__item-View{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__item-message{
  color: #d6d5d5;
  margin: 6px;
  font-size: 14px;
  font-weight: 400;
}

.contact__item-hours {
  color: #4BA586;
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 373px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact__item-main:hover {
  background-color: #212d35;
}
