<!-- View message -->
<a routerLink="/conversation">
  <div class="contact__item-main">

    <div class="contact__item-main">
      <img class="contact__item-image" src="{{imageSrc}}" alt="{{imageAlt}}"/>
      <div class="contact__item-name">
        One people
        <div class="contact__item-View">
          <img class="contact__item-imageView" src="{{imageView}}" alt="{{imageAltView}}">
          <p class="contact__item-message">Message</p>
        </div>
      </div>
    </div>
    <div class="contact__item-hours">
      21:57
    </div>
  </div>
</a>
