.contact__item-main {
  display: flex;
  margin-top: 5px;
  padding-bottom: 3px;
}

.contact__item-image {
  margin: 9px 16px;
}

.contact__item-imageView {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.contact__item-name {
  margin-top: 9px;
  color: #EAEDEF;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
}

.contact__item-View{
  display: flex;
}

.contact__item-message{
  color: #e4e4e4;
  margin: 6px;
  font-size: 14px;
  font-weight: 700;
}

.contact__item-hours {
  color: #4BA586;
  position: absolute;
  z-index: 1;
  top: 196px;
  left: 400px;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
}

.contact__item-main:hover {
  background-color: #212d35;
}

