.contact__item-main {
  display: flex;
}

.contact__item-main .contact__item-image {
  margin: 9px 16px;
}

.contact__item-main .contact__item-imageView {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.contact__item-name {
  margin-top: 9px;
  color: #EAEDEF;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
}

.contact__item-View{
  display: flex;
}

.contact__item-message{
  color: #FFF;
  margin: 6px;
  font-size: 14px;
  font-weight: 700;
}

.contact__item-hours {
  color: #4BA586;
  margin: 9px 20px 6px 140px;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

