<div class="background-bottom">
  <div>
    <div class="top__bar">
      <span class="top__bar-logo-whatsapp">
        <img class="top__bar-logo" src="{{imageLogo}}" alt="{{imageAltLogo}}">
      </span>
      <div class="top__bar-text-whatsapp">
        Whatsapp Web
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
        <form>
            <div class="head">
                <span>Sign up</span>
                <p>Create a free account.</p>
            </div>
            <!-- Inicio Teste de Upload of Image -->
            <div (ngSubmit)="uploadProfilePhoto()">
              <div class="input-div">
                <input class="input" name="file" type="file" id="photo" (change)="onFileSelected($event)" accept="image/*">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                height="1em"
                stroke-linejoin="round"
                stroke-linecap="round"
                viewBox="0 0 24 24"
                stroke-width="2"
                fill="none"
                stroke="currentColor"
                class="icon">
                  <polyline
                  points="16 16 12 12 8 16"></polyline>
                  <line y2="21" x2="12" y1="12" x1="12"></line>
                  <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
                  <polyline points="16 16 12 12 8 16"></polyline>
                </svg>
                <div class="image-preview" *ngIf="imagePreview">
                  <img [src]="imagePreview" alt="Pré-visualização da imagem">
                </div>
              </div>
            </div>
            <!-- Fim  -->
            <div class="inputs">
              <input type="text" placeholder="Enter your name" id="name" name="name"pattern="[A-Za-z ]+" required [(ngModel)]="formData.name">
              <input type="text" placeholder="(11) 914498422" id="number" name="number" required [(ngModel)]="formData.phone">
            </div>
            <button ngClass="button" (click)="navegateToChat()">
              Sign up
            </button>
        </form>
    </div>
  </div>
</div>

